@import "tailwindcss";

:root {
  --background: #023047;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  background: #023047;
  background-color: #023047;
  color: var(--foreground);
  font-family: 'Ubuntu Mono', monospace;
  min-height: 100%;
}
